
body {
    background-image: url("../img/background-picture3.jpg");
}
#header-container {
    display: grid;
    grid-template-columns: 17% auto;
    gap: 20px;
    font: 20px cursive;
}
#header-container img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
#header-container .Menu {
    float: left;
    width: 81%;
    border: 1px solid black;
    background-color: #84bf84;
}
#header-container .Menu li {
    float: left;
    list-style-type: none;
    padding: 30px;
}
#body-container{
    border: 3px solid #b6b3b3;
    margin-top: 10px;
    margin-left: 16.5%;
    margin-right: 14%;
    padding: 20px;
    font: 15px cursive;
    background-color: white;
}
#body-container img {
    width: 100%; ;
    height: 50%;
    border: 1px solid black;
}
.username {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #b7d3b7;
}
#ankündigung label {
    font: bold 32px cursive;
}
#ankündigung textarea {
    width: 98% ;
    height: 30%;
    padding: 10px;
    font: 15px cursive;
}

#speisen button {
    margin: 10px;
    padding: 3px;
    border-radius: 10px;
    float: right;
}

#speisen button:hover {
    background-color: #84bf84;
    color: white;
}

#speisen table{
    width: 100%;
    height: 60%;
    text-align: left;
}
#speisen table, td {
    border: 1px solid black;
}
#speisen>table th, td {
    text-align: center;
}
#speisen>table img {
    float: left;
}
#speisen table img {
    width: 20%;
    height: 150px;
}

#zahlen {
    margin-bottom: 50px;
}
#zahlen div {
    display: inline-block;
    font: bold 25px cursive;
    margin-left: 40px;
    margin-right: 40px;
}
#kontakt {
    padding-left: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#kontakt>form>div {
    font: 20px cursive;
    display: flex;
    gap: 10px;
}
#warning {
    border: 2px solid black;
    padding: 20px;
}
#kontakt>#name, #email, #language {
    width: 100%;
}
#language {
    width: 100%;
    height: 22px;
}
#kontakt button {
    font: bold 15px cursive;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 3px solid black;
}

#wunschgericht {
    padding-bottom: 20px;
}

#wunschgericht a {
    font: bold 20px cursive;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
    background-color: #84bf84;
}

#wunschgericht a:hover {
    background-color: #84bf84;
    color: white;
}

#wichtig div {
    padding-left: 30%;
    font-weight: bold;
    padding-bottom: 80px;
}
#begrüßung {
    padding-left: 25%;
}
#footer-container {
    border-top: 1px solid black;
    margin: 10px auto 0 auto;
    display: inline-list-item;
    text-align: center;
}
#footer-container ul li {
    display: inline-block;
    padding: 10px;
    border-left: 2px solid lightgray;
}
#footer-container ul li:first-child {
    border-left:initial;
}

